* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.keyboard {
  transform-origin: top left;
  position: absolute;
  top: 50%;
  display: inline-block;
  background: #f6f6f6;
  border: 20px solid #f6f6f6;
  border-radius: 12px;
  box-shadow: 0 4px 200px rgba(0, 0, 0, 0.2);
}
@media (max-width: 979px) {
  .keyboard {
    left: 20px;
    transform: scale(0.3) translate(0, -50%);
  }
}
@media (min-width: 979px) {
  .keyboard {
    left: 50%;
    transform: scale(0.3) translate(-50%, -50%);
  }
}
.keyboard .cont {
  display: inline-flex;
  flex-flow: column;
  gap: 4px;
  background: #000;
  border-radius: 9px;
  padding: 4px;
}
.keyboard .row {
  display: flex;
  gap: 4px;
}
.keyboard .row:first-child {
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}
.keyboard .row:last-child {
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}
.keyboard .row .key {
  cursor: pointer;
  min-width: 198px;
  height: 198px;
  background: #fff;
  border-radius: 7px;
  box-shadow: inset 0px -8px 25px rgba(0, 0, 0, 0.25);
  transition: 0s;
  padding: 10px 19px 28px;
}
.keyboard .row .key * {
  pointer-events: none;
}
.keyboard .row .key .top {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: grid;
  place-items: center;
  height: 100%;
  border-radius: 41px;
  text-transform: uppercase;
}
.keyboard .row .key .top .text {
  font-family: "Nunito", sans-serif;
  font-size: 45px;
  font-weight: 500;
  color: #35343E;
  transition: 0s;
}
.keyboard .row .key[data-key=Backspace], .keyboard .row .key[data-key=ShiftLeft] {
  min-width: 455px;
}
.keyboard .row .key[data-key=Tab] {
  min-width: 301px;
}
.keyboard .row .key[data-key=Backslash] {
  min-width: 352px;
}
.keyboard .row .key[data-key=CapsLock] {
  min-width: 353px;
}
.keyboard .row .key[data-key=Enter] {
  min-width: 502px;
}
.keyboard .row .key[data-key=ControlLeft] {
  min-width: 239px;
}
.keyboard .row .key[data-key=Menu] {
  min-width: 250px;
}
.keyboard .row .key[data-key=MetaLeft], .keyboard .row .key[data-key=AltLeft] {
  min-width: 243px;
}
.keyboard .row .key[data-key=Space] {
  min-width: 1282px;
}
.keyboard .row .key[data-key=Escape], .keyboard .row .key[data-key=Enter], .keyboard .row .key[data-key=Space], .keyboard .row .key[data-key=F5], .keyboard .row .key[data-key=F6], .keyboard .row .key[data-key=F7], .keyboard .row .key[data-key=F8], .keyboard .row .key[data-key=ArrowUp], .keyboard .row .key[data-key=ArrowLeft], .keyboard .row .key[data-key=ArrowDown], .keyboard .row .key[data-key=ArrowRight] {
  background: #F2D485;
}
.keyboard .row .key[data-key=Escape] .top, .keyboard .row .key[data-key=Enter] .top, .keyboard .row .key[data-key=Space] .top, .keyboard .row .key[data-key=F5] .top, .keyboard .row .key[data-key=F6] .top, .keyboard .row .key[data-key=F7] .top, .keyboard .row .key[data-key=F8] .top, .keyboard .row .key[data-key=ArrowUp] .top, .keyboard .row .key[data-key=ArrowLeft] .top, .keyboard .row .key[data-key=ArrowDown] .top, .keyboard .row .key[data-key=ArrowRight] .top {
  background: #F8DB91;
}
.keyboard .row .key[data-key=BracketLeft], .keyboard .row .key[data-key=BracketRight], .keyboard .row .key[data-key=Backslash], .keyboard .row .key[data-key=Semicolon], .keyboard .row .key[data-key=Quote], .keyboard .row .key[data-key=Comma], .keyboard .row .key[data-key=Period], .keyboard .row .key[data-key=Slash] {
  white-space: break-spaces;
  text-align: center;
}
.keyboard .row .key[data-key=KeyQ] .text, .keyboard .row .key[data-key=KeyW] .text, .keyboard .row .key[data-key=KeyE] .text, .keyboard .row .key[data-key=KeyR] .text, .keyboard .row .key[data-key=KeyT] .text, .keyboard .row .key[data-key=KeyY] .text, .keyboard .row .key[data-key=KeyU] .text, .keyboard .row .key[data-key=KeyI] .text, .keyboard .row .key[data-key=KeyO] .text, .keyboard .row .key[data-key=KeyP] .text, .keyboard .row .key[data-key=KeyA] .text, .keyboard .row .key[data-key=KeyS] .text, .keyboard .row .key[data-key=KeyD] .text, .keyboard .row .key[data-key=KeyF] .text, .keyboard .row .key[data-key=KeyG] .text, .keyboard .row .key[data-key=KeyH] .text, .keyboard .row .key[data-key=KeyJ] .text, .keyboard .row .key[data-key=KeyK] .text, .keyboard .row .key[data-key=KeyL] .text, .keyboard .row .key[data-key=KeyZ] .text, .keyboard .row .key[data-key=KeyX] .text, .keyboard .row .key[data-key=KeyC] .text, .keyboard .row .key[data-key=KeyV] .text, .keyboard .row .key[data-key=KeyB] .text, .keyboard .row .key[data-key=KeyN] .text, .keyboard .row .key[data-key=KeyM] .text {
  font-size: 70px;
  font-weight: 300;
}/*# sourceMappingURL=index.css.map */